.idea/
/rsk-quickstart.iml
*.lock

#ignore all the DB and temp files and folders created by rsk
/privacy/rsk/data*/database
/privacy/rsk/data*/private*
/privacy/rsk/data*/uploads
/privacy/rsk/data*/rsk.ports

./volumes/
.DS_Store
